<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "header", header: @header %>

<main>
  <%= render "feeds" %>


  <div class="row">
<<<<<<< HEAD
    <div class="small-12 medium-9 small-centered column text-center">
      <h1><%= t("layouts.header.open_city_title") %></h1>
      <p class="lead">
        <%= t("layouts.header.open_city_slogan_html") %>
      </p>
      <div class="small-12 medium-6 large-4 small-centered">
        <%= link_to t("shared.more_info"), legislation_processes_path, class: "button expanded large" %>
      </div>
=======
    <div class="small-12 column <%= 'large-8' if feed_processes_enabled? %>">
      <%= render "cards" %>
>>>>>>> upstream/master
    </div>

    <div class="small-12 large-4 column">
      <%= render "processes" %>
    </div>
  </div>

  <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
    <%= render "recommended",
                recommended_debates: @recommended_debates,
                recommended_proposals: @recommended_proposals %>
  <% end %>
</main>
